[Unit]
Description='/mnt/1' Mountpoint
# OnFailure=mnt-1-mount-failure.service

[Mount]
What=
Where=/mnt/1
Type=btrfs

[Install]
WantedBy=multi-user.target
