[Unit]
Description='/mnt/1/' mountpoint mount success action
After=mnt-winsun.mount

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/mininas_dvm_refresh

[Install]
WantedBy=mnt-winsun.mount
 
