[Unit]
Description=Mininas SSDP Broadcasting
After=systemd-networkd.service systemd-resolved.service

[Service]
Type=forking
ExecStart=/usr/local/sbin/ssdp
Restart=on-failure

[Install]
WantedBy=multi-user.target
