[Unit]
Description=System Update Daemon Starter Service

[Service]
Type=forking
ExecStart=/bin/bash -c "updated_starter.sh &"
Restart=on-failure

[Install]
WantedBy=multi-user.target
