[Unit]
Description = Mininas Root Volume Mount

[Mount]
What = UUID=8e788f32-426f-405d-bb45-da6dbe948e90
Where = /mnt/winsun
Type = btrfs

[Install]
WantedBy = multi-user.target
